@import url("https://unpkg.com/@primer/css@^18.0.0/dist/primer.css");

body{
  background: white;
  color:#37003c;

}


nav{
  position: relative;
  height: 50px;
    width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
    padding-block: 7px
}
input {
  outline: none;
    padding: 8px 16px;
    font-size: 18px;
    color: #323232;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button{
  padding: 8px;
  background: linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
  border: none;
  color: white;
  font-size: 19px;
  cursor: pointer;
  transition:background-color 0.4s ease;
}
button:hover{
  background: linear-gradient(to right, rgb(13 247 56), rgb(87 216 252));
}

.logos{
  height:30px;
  width:30px;
}
.subnav{
  height: 100%;
  width: 100%;
  max-width: 1177px;
  background: #37003c;
  color: white;
  background-image: url('./images/purplebgimg.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-y: top;
  margin: auto;
}

.subnavlargediv2{
  background: #37003c;
  width: 100%;
  height: 12pc;
}
.purplebgimg{
  height:100%;
  width:auto;
}
.centerdiv{
  margin: auto;
  margin-top: 93px;
  max-width: 1206px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 21px;
  color:#37003c;
}
.headerdiv{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 10px;
    font-size: 50px;
}
.logo{
      height: 60px;
}


.google-btn {
  width: 184px;
  height: 42px;
  background-color: black;
  color:white;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor:pointer;
  padding: 3px 16px;
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
 .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-btn:active {
    background: #3e3e3e;
  }

.massivediv{
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.pitchdiv{
  height: 100vh;
      width: 87vw;
    background: aliceblue;
    /* padding: 9px; */
    contain: strict;
}
.settingsdiv{
  max-height: 110vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 6px 0px #e6e6e6;
  border-radius: 5px 5px 0 0;
  gap: 16px;
  margin-top: -69px;
}

.pitchpic{
  height: 126vh;
  width: auto;
}
.players{
  position: absolute;
  top: 9vh;
  display: flex;
  flex-direction: inherit;
  gap: 11vh;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: -webkit-center;
}
.blankshirt{
  height: 50px;
  width: auto;
  cursor:pointer;
}

.def{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 21vw;
  width: 42vw;
  justify-content: space-between;
}
.mid{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 21vw;
  width: 42vw;
  justify-content: space-between;
}
.att{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 21vw;
  width: 42vw;
  justify-content: space-between;
}
.gk{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 40vw;
  width: 42vw;
  justify-content: space-between;
}

.playerselection{
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
  background-position: 3vw center, left top, 0px center;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 13px;
  /* padding: 0px 6px; */
  color: #37003c;
  border-radius: 5px 5px 0px 0px;
  box-shadow: inset 0px -16px 19px 1px white;
  padding: 20px 0px;
}
.largeheader{
  font-size: 20px;
}

.summary{
  border: none;
  border-radius: 0px;
  background: white;
  padding: 10px;
    box-shadow: 0px 0px 4px #d8d8d8;
}

.playerselection2{
  display: flex;
  flex-direction: column;
    padding: 5%;
    overflow: scroll;
}

.input2{
  border: none;
  box-shadow: 0px 0px 3px #e4e4e4;
  outline: none;
    padding: 8px 16px;
    font-size: 18px;
    color: #323232;
}

.arsenal{
  background-image: url('./images/plteamshirts/arsenal.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}
.astonvilla {
  background-image: url('./images/plteamshirts/astonvilla.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.bournemouth {
  background-image: url('./images/plteamshirts/bournemouth.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.brentford {
  background-image: url('./images/plteamshirts/brentford.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.brighton {
  background-image: url('./images/plteamshirts/brighton.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.chelsea {
  background-image: url('./images/plteamshirts/chelsea.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.crystalpalace {
  background-image: url('./images/plteamshirts/crystalpalace.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.everton {
  background-image: url('./images/plteamshirts/everton.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.fulham {
  background-image: url('./images/plteamshirts/fulham.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.leeds {
  background-image: url('./images/plteamshirts/leeds.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.leicester {
  background-image: url('./images/plteamshirts/leicester.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.liverpool {
  background-image: url('./images/plteamshirts/liverpool.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.manchestercity {
  background-image: url('./images/plteamshirts/manchestercity.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.manchesterunited {
  background-image: url('./images/plteamshirts/manchesterunited.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.newcastle {
  background-image: url('./images/plteamshirts/newcastle.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.nottinghamforrest {
  background-image: url('./images/plteamshirts/nottinghamforrest.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.southampton {
  background-image: url('./images/plteamshirts/southampton.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.tottenham {
  background-image: url('./images/plteamshirts/tottenham.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.westham {
  background-image: url('./images/plteamshirts/westham.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.wolves {
  background-image: url('./images/plteamshirts/wolves.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}
.playerdiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-block: 1px solid hsl(0, 0%, 96%);
      justify-content: space-between;
}
.playerdiv:hover{
  background:hsl(0, 0%, 96%)
}

.boldp{
  font-size: 13px;
  font-weight: 700;
  color: #4d004d;
}
.lightp{
  font-size: 12px;
  color: #4d004d;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  width: 25%;
  text-align: center;
  padding: 10px;
  cursor:pointer;
}
th{
  width:25%;
  text-align:center;
  padding-block:10px
}

.rowdiv{
  display: flex;
  flex-direction: row;
  gap: 6px;
}
.columndiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor:pointer;
}

.rowdiv2 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: space-between;
  height: inherit;
}
.buttons{
  background: #00ff87;
    border-radius: 5px 5px 0px 0px;
    padding: 12px;
    font-size: 14px;
    color: #520152;
    font-weight: 600;
    transition:0.2s ease-in-out;

}
.buttons:hover{
  background:#00ff52;
  transition:0.2;
}
.columndiv2{
  display: flex;
  flex-direction: column;
  padding: 9px 50px;
  font-size:16px;
  width: 76.4%;
  margin-bottom: -15px;
}
.card{
  display: flex;
  flex-direction: row;
  height: 200px;
  width: 585px;
}

.cardtext{
  background-image: url(./images/pattern-2-d.0a64c7c7.png),linear-gradient(to right, rgb(2, 239, 255), rgb(0 255 102));
  background-position: 3vw center, left top, 0px center;
  padding: 16px;
}

.buttonstrue{
  background:white;
  border-radius: 5px 5px 0px 0px;
  padding: 12px;
  font-size: 14px;
  color: #520152;
  font-weight: 600;
  transition:0.2s ease-in-out;

}
.buttonstrue:hover{
  background:white;
}

::-webkit-scrollbar{
  width:0.30rem
}


::-webkit-scrollbar-track {
  background: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(2, 239, 255), rgb(0 255 102)) top/100% 100%;
  border-radius: 10px;
}

footer{
  width: 100%;
  text-align: center;
  border-top: 3px solid transparent;
  background: linear-gradient(to right, #ec12ff, #200023);
  color: inherit;
  margin-top: 30px;
}
.ulfooter{
  display: flex;
  flex-direction: initial;
  gap: 31px;
  font-size: 10px;
  place-content: center;
}
.boldp2 {
  font-size: 11px;
  font-weight: 600;
  color: #4d004d;
}
.rowdiv3 {
  display: flex;
  flex-direction: row;
  gap: 6px;
  place-content: center;
  flex-wrap: wrap;
}

.subnav3{  
  height: 116px;
  max-width: 1182px;
  width: 93%;
  background: url('./images/pattern-2-d.0a64c7c7.png'), #37003c;
  background-position: 150% center, left top, 0px center;
  background-size: 47%;
  background-repeat: no-repeat;
  color: white;
  margin: auto;
  border-radius: 6px;
  padding: 1%;
}

.h3neon{
  background: linear-gradient(to right, rgb(2 255 103), rgb(98 245 255));
  -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    font-size: 23px;
}

.buttonneon{
  background: linear-gradient(to right, rgb(13 247 99), rgb(87 206 252));
    height: fit-content;
    width: fit-content;
    padding: 10px 48px;
    font-size: 13px;
    color: #37003b;
    font-weight: 500;
    border-radius: 4px;
    transition:0.2s ease-in-out;

}
.containerdiv{
  display: flex;
    flex-direction: column;
    gap: 10px;
}
.greenheader{
  background: linear-gradient(rgb(2 255 203), rgb(0 255 102)) top/100% 100%;
  padding: 4px 17px;
  border-radius: 6px;
}

.pitchnameheader{
  background: #37003c;
  color: white;
  padding: 3px 16px;
    font-size: 12px;
  font-weight: 600;
}
.pitchnamep{
  background: white;
  width: 100%;
  margin-top: -10px;
  font-weight: 700;
  font-size: 12px;
  color: #4d004d;
}

.purplediv{
  background: #37003c;
  align-self: baseline;
  margin: -7px -2px 10px 11px;
  border-radius: 0px 0px 8px 8px;
  padding: 3.5px 15px 2px 15px;
}

.pneon{
  font-size: 13px;
    background: linear-gradient(to right, rgb(2 255 103), rgb(98 245 255));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.cardtext2{
  font-weight: 600;
  /* opacity: 76%; */
  border-radius: 7px;
  /* box-shadow: 1px 1px 6px #00e6ff; */
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(2, 239, 255), rgb(0 255 102));
  background-position: 555px center, left top, 0px center;
  padding: 16px;
}

.subnav4{
  width: 100%;
  background: url('./images/pattern-2-d.0a64c7c7.png'), #37003c;

  background-position: 562px center, left top, 0px center;
  background-size: 54%;
  background-repeat: no-repeat;
  color: white;
  /* margin: auto; */
  border-radius: 5px;
  padding: 1%;

}

.buttons2{
  background: linear-gradient(to right, rgb(0 255 196), rgb(0 255 153));
  border-radius: 5px;
  padding: 12px;
  font-size: 14px;
  color: #520152;
  font-weight: 600;
  transition:0.2s ease-in-out;

} 
.buttons2:hover{
  background: linear-gradient(to right, rgb(0 255 196), rgb(0 255 153));

}

.buttoncardpurple{
  width: fit-content;
  padding: 11px 25px;
  font-size: 14px;
  color: white;
  border-radius: 3px;
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(32 0 110), rgb(83 0 55));
  background-position: 61px center, left top, 0px center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-weight: 300;
  transition:0.2s ease-in-out;
}
.buttoncardpurple:hover{
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(72 0 64), rgb(85 2 170));
  background-size: 100%;
  background-repeat: no-repeat;
 
}
.buttoncard{
  width: fit-content;
  padding: 11px 25px;
  font-size: 14px;
  color: inherit;
  border-radius: 3px;
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(2, 239, 255), rgb(0 255 102));
  background-position: 61px center, left top, 0px center;
  background-size: 100%;
  background-repeat: no-repeat;
  font-weight: 400;
  transition:0.2s ease-in-out;
}
.leagueinput{
  background: lightgray;
    border: none;
    border-bottom: 1px solid gray;
    outline: none;
    padding-block: 6px;
    font-size: 14px;
}
.inputhome{
  outline: none;
  padding: 0px 70px;
      font-size: 18px;
    color: #323232;
    border: none;
    border-bottom: 1px solid #800082;
    background: #e8e8e8;
}

.homeform{
  display: flex;
  flex-direction: row;
  gap: 12px;
  width: max-content;
}
.homediv{
  width: 100%;
  margin: auto;
  /* padding: 0px 181px; */
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 25px;
}

.subhomediv{
  border-bottom: 1px solid #800082;
    width: 100%;
}

.newscard{
  width: 93%;
  max-width: 1178px;
    height: fit-content;
  padding: 6px 6px;
  font-size: 14px;
  color: inherit;
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(2, 239, 255), rgb(0 255 102));
  background-position: 61px center, left top, 0px center;
  background-repeat: no-repeat;
  font-weight: 400;
  transition: 0.2s ease-in-out;
  margin: auto;
  display: flex;
  flex-direction: row;
  gap: 30px;

}
.newsimage{
  height:350px;
  transition:0.2s ease-in-out;
}
.newscard:hover >.containerdiv2 > .newsimage{
  height: 370px;
}

.containerdiv2{
  height: 350px;
  width: 517px;
  contain: content;
}
.newscard:hover >.columndiv > h1{
text-decoration:underline;
}
.columndiv22{
  display: flex;
  flex-direction: column;
  padding: 9px 50px;
  font-size: 16px;
  width: 100%;
  margin-bottom: -15px;
}
.columndivnew{
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
@media(width<1200px){
  .navbarpic{
    display:none;
  }
  .rowdiv2{
    place-content: center;
  }
  .card{
    width: 90%;
  }
  .newscard{
    flex-wrap: wrap;
    width: 90%;
  }
  .containerdiv2{
    height: auto;
    width: 100%;
    margin: auto;
  }
  .newsimage{   
    width: 100%;
    height: auto;
  }
  .newscard:hover >.containerdiv2 > .newsimage{
    width: 100%;
    height: auto;
  }
  .subnav3{
    background-position: 154% center, left top, 0px center;
    width:90%;
  }
  .subnav3p{
    display:none
  }
.massivediv{
  flex-wrap: wrap;
  margin: auto;
}
.players{
  gap: 6vh;
}
.pitchdiv{
  width: 72.5%;

}
.columndivnew{
  margin-top: 40px;
  width: 73.5%;
}
.settingsdiv{
  width:90%
}
}

@media(width<1200px){


}