@import url("https://unpkg.com/@primer/css@^18.0.0/dist/primer.css");

body{
  font-family: sans-serif;
  background: white;
}
nav{
  position: fixed;
  top: 0px;
  left: 0pc;
  right: 0px;
  height: 35px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
  padding-block: 7px
}
input {
  outline: none;
    padding: 8px 16px;
    font-size: 18px;
    color: #323232;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button{
  padding: 8px;
  background: linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
  border: none;
  color: white;
  font-size: 19px;
  cursor: pointer;
  transition:background-color 0.4s ease;
}
button:hover{

  /* border:1px solid linear-gradient(to right, rgb(184 211 213), rgb(132 78 245)); */
background:linear-gradient(to right, rgb(13 232 247), rgb(87 114 252));
}

.logos{
  height:30px;
  width:30px;
}
.subnav{
  height: 12pc;
  width: 100%;
  background: #37003c;
  color: white;
  background-image: url('./images/purplebgimg.svg');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position-y: top;
  margin-top: 58px;
}
.purplebgimg{
  height:100%;
  width:auto;
}
.centerdiv{
  margin: auto;
  margin-top: 93px;
  width: 35pc;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 10px;
color:#37003c;
}
.headerdiv{
  display: flex;
    flex-direction: row;
    align-items: center;
    margin: auto;
    gap: 10px;
}
.logo{
      height: 60px;
}


.google-btn {
  width: 184px;
  height: 42px;
  background-color: black;
  color:white;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
  cursor:pointer;
  padding: 3px 16px;
}
  .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: fff;
  }
  .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
  }
  .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: $white;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
  }
 .google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
  }
  .google-btn:active {
    background: #3e3e3e;
  }

.massivediv{
  height: 95vh;
  width: 98vw;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.pitchdiv{
    height: 74vh;
    width: 87vw;
    background: aliceblue;
    /* padding: 9px; */
    contain: strict;
}
.settingsdiv{
  height: 100vh;
  width: 30%;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 6px 0px #e6e6e6;
  border-radius: 5px 5px 0 0;
  gap: 16px;
}

.pitchpic{
  height: 126vh;
  width: auto;
}
.players{
  position: absolute;
  top: 9vh;
  display: flex;
  flex-direction: inherit;
  gap: 11vh;
  justify-content: space-between;
  flex-wrap: wrap;
  text-align: -webkit-center;
}
.blankshirt{
  height: 50px;
  width: 50px;
  cursor:pointer;
}

.def{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 21vw;
  width: 42vw;
  justify-content: space-between;
}
.mid{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 21vw;
  width: 42vw;
  justify-content: space-between;
}
.att{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 21vw;
  width: 42vw;
  justify-content: space-between;
}
.gk{
  display: flex;
  flex-direction: row;
  /* gap: 3vw; */
  margin-left: 40vw;
  width: 42vw;
  justify-content: space-between;
}

.playerselection{
  text-align: center;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  background-image: url('./images/pattern-2-d.0a64c7c7.png'),linear-gradient(to right, rgb(2, 239, 255), rgb(98, 123, 255));
  background-position: 3vw center, left top, 0px center;
  /* background-size: 100%; */
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  gap: 13px;
  /* padding: 0px 6px; */
  color: #37003c;
  border-radius: 5px 5px 0px 0px;
  box-shadow: inset 0px -16px 19px 1px white;
  padding: 20px 0px;
}
.largeheader{
  font-size: 20px;
}

.summary{
  border: none;
  border-radius: 0px;
  background: white;
  padding: 10px;
    box-shadow: 0px 0px 4px #d8d8d8;
}

.playerselection2{
  display: flex;
  flex-direction: column;
    padding: 5%;
}

.input2{
  border: none;
  box-shadow: 0px 0px 3px #e4e4e4;
  outline: none;
    padding: 8px 16px;
    font-size: 18px;
    color: #323232;
}

.arsenal{
  background-image: url('./images/plteamshirts/arsenal.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}
.astonvilla {
  background-image: url('./images/plteamshirts/astonvilla.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.bournemouth {
  background-image: url('./images/plteamshirts/bournemouth.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.brentford {
  background-image: url('./images/plteamshirts/brentford.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.brighton {
  background-image: url('./images/plteamshirts/brighton.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.chelsea {
  background-image: url('./images/plteamshirts/chelsea.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.crystalpalace {
  background-image: url('./images/plteamshirts/crystalpalace.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.everton {
  background-image: url('./images/plteamshirts/everton.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.fulham {
  background-image: url('./images/plteamshirts/fulham.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.leeds {
  background-image: url('./images/plteamshirts/leeds.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.leicester {
  background-image: url('./images/plteamshirts/leicester.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.liverpool {
  background-image: url('./images/plteamshirts/liverpool.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.manchestercity {
  background-image: url('./images/plteamshirts/manchestercity.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.manchesterunited {
  background-image: url('./images/plteamshirts/manchesterunited.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.newcastle {
  background-image: url('./images/plteamshirts/newcastle.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.nottinghamforrest {
  background-image: url('./images/plteamshirts/nottinghamforrest.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.southampton {
  background-image: url('./images/plteamshirts/southampton.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.tottenham {
  background-image: url('./images/plteamshirts/tottenham.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.westham {
  background-image: url('./images/plteamshirts/westham.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}

.wolves {
  background-image: url('./images/plteamshirts/wolves.webp');
      height: 50px;
    width: 50px;
    object-fit: unset;
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-size: contain;
}
.playerdiv{
  display: flex;
  flex-direction: row;
  align-items: center;
  border-block: 1px solid lightgray;
  padding-block: 7px;
  justify-content: space-between;
}

.boldp{
  font-size: 13px;
  font-weight: 700;
  color: #4d004d;
}
.lightp{
  font-size: 13px;
  color: #4d004d;
}
table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  width: 25%;
  text-align: center;
  padding: 10px;
}
